*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
}

h1, h2{
    color: purple;
}
h1{
    font-size: 40px;
    margin-bottom: 15px;
}

p{
    margin-bottom: 15px;
}

h2{
    font-size: 40px;
    margin-bottom: 15px;
}

.container{
    width: 1140px;
    margin: 0 auto;
    background-color: lavender;
    padding: 0 20px;
}

.content{
    width: 75%;
    float: left;
}

form{
    width: 25%;
    float: left;
}

input, textarea{
    display: block;
}
input{
    margin: 20px;
    width: 250px;
    padding: 10px 20px;
}
textarea{
    width: 250px;
    margin-left: 20px;
    padding: 20px;
}
.avatar_image{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    float: left;
}
h4{
    float: left;
    margin-top: 40px;
    margin-left: 40px;
}
.infor{
    margin-top: 20px;
    padding-bottom: 30px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.date{
    position: relative;
    left: 200px;
}
